# Compilation
*.o
*.mod
*.exe
*.out
oracle3D_*

# Résultats lourds
*.plt
*.vtk
*.vtu
*.tec
*.chk
REST.*
RESULT*
monitor*
*.log

# Maillages lourds / générés
*.msh
*.grd

# Système
.DS_Store
Thumbs.db
.vscode/
